.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  height: 5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  box-shadow: 0 2px 8px var(--box-shadow);
  z-index: 10;
}

.main-image {
    width: 100%;
    height: 10rem;
    z-index: 0;
    overflow: hidden;
}

.main-image img {
    margin-top: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}