.webtoon {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 15px;
}
  
.status {
    font-style: italic;
    font-size: small;
    color: var(--theme-background);
}

.title {
    margin: 0 0 0.25rem 0;
    color: var(--theme-background);
}

.summary {
    font-style: italic;
    color: var(--theme-background);
}

